.hi {
    color: rgb(45, 113, 173);
}

.main{
    border: 5px solid #0000;
    background-color: antiquewhite;
    border-color: black;
    text-align: center;
    width: 200px;
    margin-left: 700px;
}
.less { 
    color:blueviolet;
}